@font-face {
  font-family: 'majalla';
  src:
    url('https://MuhaNaguib/Naguib.github.io/main/FONT/majalla.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

/*
    url('https://<yourserver>/path/to/font.woff2') format('woff2'),
    url('https://<yourserver>/path/to/font.woff') format('woff'),
/*